img {
  width: 100%;
}

#jumbo-01 {
  background: url("../img/main-page-01.jpg") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 30%;
  padding-bottom: 2%;
  height: fit-content;
  width: 100%;
  z-index: 1100;
}

#jumbo-text-01 {
  color: white;
  text-align: right;
  align-content: center;
  font-size: 1.5em;
  line-height: 1.75em;
  /* Make the nav bar come to the front */
  z-index: 1100;
}

#jumbo-header-01 {
  color: white;
  text-align: right;
  align-content: center;
  /* Make the nav bar come to the front */
  z-index: 1100;
}
